*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.brdr{
    /* border: rgb(255, 0, 0) 2px solid; */
    /* margin: 2px; */
}

.brdg{
    /* border: rgb(112, 236, 11) 2px solid; */
    /* margin: 2px; */
}

.brdb{
    /* border: rgb(0, 68, 255) 2px solid; */
    /* margin: 2px; */
}

.brdy{
    /* border: rgb(255, 2, 221) 2px solid; */
    /* margin: 2px; */
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: white;
}
.sabseupr {
    margin: 0px 0px;
    padding: 3px;
    background-color: rgb(232, 73, 73);
    color: white;
    font-family: 'Ranchers', cursive;
    text-align: center;
}

.navbar {
    /* border: 2px solid blue; */
    background-color: rgb(34 34 34);
    height: 90px;

}
.mid ul a  {
    display: inline-block;
    color: white;
    padding-right: 18px;
    padding-left: 10px;
    margin: 0px 0px 0px 0px;
    border-right: 2px solid rgb(255, 255, 255);
    position: relative;
    left: 22px;
    text-decoration: none;
    font-size: 18px;
    top: 50px;
}

.nav-ul {
    list-style: none;
    margin-top: 0px;
}

.nav-a {
    text-decoration: none;
}

.divedit {
    /* border: 2px solid rgb(12, 182, 49); */
    color: white;
   
}
.left img{
    width: 64px;
    /* border: 2px solid; */
    position: relative;
    right: -12px;
    top: 6px;
}
.left h3{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.left{
    display: inline;
    position:absolute;
    left: 44px;
}
.mid{
    display: block;
    width: 33%;
    margin: auto;
    height: 85px;
} 
.menuhover:hover{
    background-color:#363638;;
    border-radius: 4px 0px 0px 4px;

}   
.right{
    display: inline;
    position: absolute;
    right: 32px;
    top: 78px;
}
.right input{
    border-radius: 11px 0px 0px 11px;
    width: 170px;
}
#gobtn{
    position: relative;
    left: -3px;
    top: 0px;
    border-radius: 0px 4px 4px 0px;
}
.login{
    color: white;
    margin-left: 8px;
    /* text-decoration: none; */
}
.div2{
    background-position-x: center;
    background-position-y: -227px;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0287/9612/5316/files/library-books_1950x.jpg?v=1599208175);
    background-size: 100% 180%;
    display: block;
    opacity: .85;
    /* border: 2px solid green; */
    height: 800px;
    width: 100%;
}
.bg_div_clr{
    background-color: black;
    height: 740px;
    width: 80%;
    margin: auto;
    position: relative;
    top: 30px;
    opacity: 0.8;
    z-index: -1;
}
.div2content{
    /* border: 2px solid white; */
    position: relative;
    top: -645px;
    width: 68%;
    margin: 0px auto;
}
.div2content h1{
    font-size: 65px;
    margin: auto;
    width: 300px;
    margin-top: -52px;
}
.feedback_preview{
    /* border: 2px solid white; */
    width: 50%;
    margin: 0px auto;
    height: 438px;
    overflow: auto;
    margin-top: 20px;
}
.feedback_tbl{
    /* margin-top: 17px; */
}
table, th, td{
    border-bottom: 2px solid white;
    color: white;
    padding: 14px 6px;
    border-collapse: collapse;
    /* background-color: white; */
    width: 100%;
    font-size: 18px;;

}